/* Header Styles */
.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #000;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navigation Styles */
.NavItems ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.NavItems li {
  margin: 4px;
}

/* Search Styles */
.search {
  color: #272626;
  padding: 4px;
  /* border: 1px solid #000; */
  border-radius: 4px;
  margin: 10px 0;
}

/* Result Container Styles */
.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 10px;
  /* border: 1px solid #000; */
  margin: 5px;
  width: 200px;
  transition: transform 0.1s ease-in;
  border-radius: 4px;
}

.res-card:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.res-img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
}

.rating {
  display: flex;
  align-items: center;
}
.filter-btn {
  padding: 10px;
}
/* Footer Styles */
.footer {
  border: 1px solid #000;
  margin: 10px 0;
}
